@using Microsoft.JSInterop

@typeparam TItem
@inject IJSRuntime JsRuntime

<div class="uic-tag-selector @Style.SelectorClass @(_selectionOpen ? "uic-tag-selector--open" : "")">
    <div class="uic-tag-selector__box">
        @if (SelectedTags != null)
        {
            foreach (var item in SelectedTags)
            {
                <span class="@Style.SelectedTagClass">
                    @TagTemplate(item)
                    <span class="@Style.RemoveTagClass" @onclick="@(() => RemoveSelectedTag(item))"></span>
                </span>
            }
        }
        <input type="text" @onfocus="@OpenSelection" @onblur="@CloseSelection" @onkeyup="@OnTextKeypress" @ref="TextBox" @ref:suppressField />
    </div>

    @if (_selectableItems.Any())
    {
        <div class="uic-tag-selector__dropdown @Style.DropdownClass">

            @foreach (var item in _selectableItems)
            {
                <div class="@Style.DropdownItemClass @(_selectableItems.IndexOf(item) == _selectableIndex ? "uic-tag-selector__item--selected " + Style.DropdownItemHoverClass : "")" @onmousedown="@(() => AddSelectedTag(item, true))">
                    @TagTemplate(item)
                </div>
            }

        </div>
    }
</div>

@code {

    [Parameter] public IEnumerable<TItem> SelectableTags { get; set; }

    [Parameter] public IList<TItem> SelectedTags { get; set; } = new List<TItem>();
    [Parameter] public EventCallback<IList<TItem>> SelectedTagsChanged { get; set; }

    [Parameter] public TagSelectorStyle Style { get; set; } = TagSelectorStyle.Bootstrap;

    [Parameter] public RenderFragment<TItem> TagTemplate { get; set; }

    [Parameter] public Func<TItem, string, bool> Filter { get; set; }

    [Parameter] public EventCallback<TItem> OnTagSelected { get; set; }

    [Parameter] public EventCallback<TItem> OnTagRemoved { get; set; }

    [Parameter] public EventCallback<string> OnCreateTag { get; set; }

    private bool _selectionOpen;
    private string _filterText;
    private ElementReference TextBox;
    private int _selectableIndex = 0;
    private IList<TItem> _selectableItems = new List<TItem>();

    private void AddSelectedTag(TItem item, bool closeSelection)
    {
        SelectedTags.Add(item);
        ResetFilterText();
        UpdateSelectableItems();
        _selectionOpen = !closeSelection;
        OnTagSelected.InvokeAsync(item);
        SelectedTagsChanged.InvokeAsync(SelectedTags);
    }

    private void RemoveSelectedTag(TItem item)
    {
        SelectedTags.Remove(item);
        OnTagRemoved.InvokeAsync(item);
        SelectedTagsChanged.InvokeAsync(SelectedTags);
    }

    private void OpenSelection()
    {
        UpdateSelectableItems();
        _selectableIndex = 0;
        _selectionOpen = true;
    }

    private void CloseSelection()
    {
        _selectionOpen = false;
    }

    private void ResetFilterText()
    {
        _filterText = "";
        JsRuntime.InvokeAsync<object>("tagSelectorComponent.setValue", TextBox, "");
    }

    private async Task OnTextKeypress(UIKeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowUp":
                _selectableIndex--;
                break;

            case "ArrowDown":
                _selectableIndex++;
                break;

            case "Enter":
                if (_selectableItems.Any())
                {
                    AddSelectedTag(_selectableItems[_selectableIndex], false);
                }
                else if (!string.IsNullOrEmpty(_filterText))
                {
                    if (OnCreateTag.HasDelegate)
                    {
                        await OnCreateTag.InvokeAsync(_filterText);

                        ResetFilterText();
                    }
                }
                break;

            case "Escape":
                await JsRuntime.InvokeAsync<object>("tagSelectorComponent.blur", TextBox);
                break;

            default:
                _filterText = await JsRuntime.InvokeAsync<string>("tagSelectorComponent.getValue", TextBox);
                UpdateSelectableItems();
                break;
        }

        // check selectable index bounds
        if (_selectableIndex < 0)
        {
            _selectableIndex = _selectableItems.Count - 1;
        }
        else if (_selectableIndex >= _selectableItems.Count)
        {
            _selectableIndex = 0;
        }
    }

    private void UpdateSelectableItems()
    {
        _selectableItems = (SelectableTags ?? _selectableItems)
            .Except(SelectedTags)
            .Where(item => Filter == null || string.IsNullOrEmpty(_filterText) || Filter(item, _filterText))
            .ToList();
    }

}
