
@page "/PagePanel"

<PagePanel PageIndex="@CurrentPage" Class="mb-2" Style="height:250px">
    <Page PageIndex="@CurrentPage" Widths="50%;100%;200%">
        <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#00ff90">
            Page 1
        </div>
    </Page>
    <Page PageIndex="@CurrentPage" Widths="50%;30%;20%;50%">
        <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#1596c7">
            Page 2
        </div>
    </Page>
    <Page PageIndex="@CurrentPage" Widths="70%;70%;20%;50%">
        <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#b823be">
            Page 3
        </div>
    </Page>
    <Page PageIndex="@CurrentPage" Widths="60%;60%;60%;100%">
        <div class="d-flex justify-content-center align-items-center h-100 text-white h4" style="background:#ff6a00">
            Page 4
        </div>
    </Page>
</PagePanel>

<button onclick="@(() => CurrentPage-- )">&lt;</button>
@CurrentPage
<button onclick="@(() => CurrentPage++ )">&gt;</button>


@functions {

    int CurrentPage { get; set; }

}